body{
    background-color: rgb(255, 159, 121);
}

.primeiraparte{
    background-color: bisque;
}
.foto{
    width: 505px;
}

.todososestudantes{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
